* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple-200: #9a7bd1;
    --purple-500: #6b36d8;
    --purple-800: #441f88;
    --black-800: #171717;
    --gray-200: #cccccc;
    --white: #f9f9f9;
}

body {
    background: var(--gray-200);
    color: var(--black-800);
    font-family: sans-serif;
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    color: var(--white);
    font-size: 2rem;
}

h2 {
    color: var(--black-800);
    font-size: 1.5rem;
    padding: 1rem 0;
    font-weight: 600;
}

h3 {
    color: var(--white);
    font-size: 1rem;
    text-align: center;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
}